

*{
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  margin: 0;
  padding: 0;
  color:#333

}


.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("assets/teahub.io-disney-themed-wallpaper-1912427.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header_title {
  font-size: 4rem;
}

.choices {
  display: flex;
  justify-content: center;
}

/* GAME */

.choice_text {
  width:100%;
}

.clickable {
  box-shadow: 5px 6px #888888;
  background-color: #fdfafa;
  padding: 40px;
  height: 70px;
  width: 220px;
  border: 1px solid #dedede;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 26px;
  border-radius: 5px;

}

.clickable:hover {
  text-decoration: none;
  background-color: #999797;
}

.clickable.active {
  color: inherit;
  border-color: inherit;
}

.clickable.active i {
  color: #52ACF4;
}
